<nav *ngIf="auth.user | async as user" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="navbar-brand" routerLink="/libros" routerLinkActive="active">Libros</a>
    <a class="navbar-brand" routerLink="/usuarios" routerLinkActive="active">Usuarios</a>

    <div class="userDiv">
        Ha iniciado sesión como: {{user.displayName}}
        <button (click)="auth.logout()" [routerLink]="['']">Cerrar sesión</button>
    </div>
</nav>

<section>
    <router-outlet></router-outlet>
</section>
