<div id="imagen">
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Biblioteca_Casa_de_Colón_Nacho_González.JPG" class="img-fluid" alt="Imagen" />
</div>

<div id="principal">
    <div *ngIf="auth.user | async as user; else login">
        <p>Has iniciado sesión como {{user.displayName}}</p>
        <button class="btn btn-info" [routerLink]="['home']">Acceder a la consola</button>
    </div>

    <ng-template #login id="loginDiv">
        <div id="bienvenida">
            <h2>BIENVENIDO A BIBLIOMANAGER</h2>
            <h4>Inicie sesión para acceder a la administración de usuarios y libros</h4>
            <br>
            <form class="form">
                <button (click)="auth.login()" class="btn btn-secondary">INICIAR SESIÓN</button>
            </form>
        </div>
    </ng-template>
</div>
