<app-header></app-header>

<h1>Libros</h1>

<table class="table">
    <tr *ngFor="let libro of libros">
        <td>{{libro.data.titulo}}</td>
        <td>{{libro.data.autor}}</td>
        <td>{{libro.data.usuario}}</td>
        <div>
            <button id="botonEditar" (click)="editaLibro(libro.id)" class="btn btn-primary">Editar libro</button>
            <button id="botonEliminar" (click)="borraLibro(libro.id)" class="btn btn-danger">Eliminar libro</button>
        </div>
    </tr>
</table>

<button id="botonAgregar" (click)="agregaVisible('visible')">Agregar nuevo libro</button>


<form id="formularioLibro" (ngSubmit)="nuevoLibro(nuevoLibroForm.value)" [formGroup]="nuevoLibroForm">
    <input type="hidden" formControlName="id">

    <label for="titulo">Título</label>
    <input type="text" formControlName="titulo">

    <label for="autor">Autor</label>
    <input type="text" formControlName="autor">

    <label for="usuario">Usuario</label>
    <input type="text" formControlName="usuario">

    <input id="botonInput" type="submit" [disabled]="!nuevoLibroForm.valid" value="Agregar">
    <input id="botonInputCancelar" type="button" (click)="agregaVisible('hidden')" value="Cancelar">
    <!--<input id="botonCancelar" type="submit" (click)="agregaVisible('hidden')">Cancelar</button>-->
</form>

<app-footer></app-footer>
<!--<router-outlet></router-outlet>-->
